{% extends "base.html" %}

{% block content %}
    {{ block.super }}


    <div class="col-sm-6 col-sm-offset-3">
        <h1> Blog </h1>
        <form method="POST" action='' enctype="multipart/form-data">{% csrf_token %}
            {{ form.as_p }}
            <input type="submit" class="btn btn-defult" value="Create Blog"/>
        </form>
    </div>


    <div class="col-sm-6 col-sm-offset-3">
        <h1>{{ title }}</h1>
        {% for obj in object_list %}
            <div class="row">
                <div class="col-sm-12">
                    <div class="thumbnail">
                        {% if obj.image %}
                            <img src="{{ obj.image.url }}" class="img-responsive"/>
                        {% endif %}
                        <div class="caption">

                            <h3>{{ obj.title }}
                                <small> {{ obj.time_stamp | timesince }}</small>
                            </h3>
                            {% if instace.user.get_full_name %}
                                <p> Author : {{ instace.user.get_full_name }}</p>
                            {% endif %}
                            <p>{{ obj.content | linebreaks }}
                        </div>
                    </div>
                </div>
                <hr/>
            </div>
        {% endfor %}
        <div class="pagination">
    <span class="step-links">
        {% if object_list.has_previous %}
            <a href="?page=
                    {{ object_list.previous_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ object_list.number }} of {{ object_list.paginator.num_pages }}.
        </span>

        {% if object_list.has_next %}
            <a href="?page={{ object_list.next_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">next</a>
        {% endif %}
    </span>
        </div>
    </div>
{% endblock content %}